<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viweport" content="width=device-width, initial-scale=1.0">
        <title>해수욕장 날씨 정보</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1>해수욕장 날 및 해양 정보</h1>
        </header>
        <main>
            <from action="/weather" method="get">
                <label for="beach"></label>
            </from>
        </main>
        
    </body>
</html>